<section class="output-section">
    <h3 class="add-todo-goal flex text-center">You have goals to achieve</h3>
    <div class="container">
        <% for (let i = 0; i < goals.length ;i++) {%>
        <div class="card">
            <div class="card-item card-item-goal">
                <h4 class="output-goal"><%= goals[i].goal %></h4>
                <span class="output-date"><%= goals[i].createdAt === '/addtodo' ? goals[i].createdAt : goals[i].updatedAt %></span>
            </div>
            <div class="card-item card-item-msg">
                <p class="output-msg"><%= goals[i].msg %></p>
            </div>
            <div class="card-item card-item-btn">
                <button><a class="delete-goal" data-id="<%= goals[i]._id %>">Delete</a></button>
                <button><a class="update-goal" href="/updatetodo?id=<%= goals[i]._id %>">Update</a></button>
            </div>
        </div>
        <% }%>
    </div>
</section>